body {
    background-color: lightgrey;
    color: blue;
  }
  
  h1 {
    background-color: #2E8B57;
    color: #1E90FF;
  }
  



















  //body{
    background-color: ;
    color:#40E0D0;
}//
h2{
    text-align: center;
    color:#1E90FF;
}

.colotext{
    color: ;
}