body {
    background-color: #40E0D0;
    color: #000000;
    font: sans-serif;
    text-align: center;
  }
  
  h1 {
    background-color: #2E8B57;
    color: #000000;
    font: arial;
  }
  h2{
    color:#FFFFF0;
    
  }

  
 
















